<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>trippin needs access to your photo library to read photos from shared albums and reconstruct your trips.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.rzliu.trippin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>trippin</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
